:root {
    --color-light: #FDFDFF;
    --color-gold: #E2C044;
    --color-dark: #232C33;
    --color-muted-green: #798478;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--color-dark);
    color: var(--color-light);
  }
  
  header, footer {
    background-color: var(--color-muted-green);
    padding: 1rem;
    color: var(--color-light);
  }
  
  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: bold;
  }
  
  nav a.active {
    color: var(--color-gold);
  }
  
  main {
    padding: 2rem;
  }

  .portfolio {
    padding: 2rem 0;
  }
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
  
  .project-card {
    background-color: var(--color-muted-green);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .project-links a {
    display: inline-block;
    margin: 0.5rem;
    color: var(--color-gold);
    font-weight: bold;
  }
  

  .about {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .profile-pic {
    width: 150px;
    height: 170px;
    border-radius: 30%;
    object-fit: cover;
    border: 3px solid var(--color-gold);
  }
  
  .bio {
    max-width: 600px;
  }
  